.DS_Store
.log
.ipynb_checkpoints/
__pycache__/
.vs_code/
simsom.egg-info/
unused_experiments/*
example/results/
data/

.snakemake/
*exps*/
*.out
experiments/*
example/*v*
logs/
*.json.gz
*.json

tests/*
!tests/20240610_new_algo/
tests/20240610_new_algo/*
!tests/20240610_new_algo/og/